<div class="flex flex-col items-center gap-8">
  <div class="space-y-2 text-center">
    <h1 class="text-xl font-medium" trans>Reset password</h1>
    <p class="text-muted-foreground text-center text-sm" trans>Please enter your new password below</p>
  </div>

  <form [formGroup]="resetPasswordForm" class="flex flex-col gap-6 w-100" (ngSubmit)="onSubmit()">
    <div class="grid gap-6">
      <div class="grid gap-2">
        <rc-label>{{ "Email" | trans }}</rc-label>
        <rc-input tabindex="1" type="email" [placeholder]="'Email' | trans" formControlName="email" [readonly]="true"/>
      </div>
      <div class="grid gap-2">
        <rc-label>{{ "Password" | trans }}</rc-label>
        <rc-input tabindex="3" type="password" [placeholder]="'Password' | trans" formControlName="password"/>
      </div>
      <div class="grid gap-2">
        <rc-label>{{ "Confirm password" | trans }}</rc-label>
        <rc-input tabindex="4" type="password" [placeholder]="'Confirm password' | trans" formControlName="confirm_password"/>
      </div>
      <div class="flex items-center space-x-3 mt-4">
        <rc-button tabindex="3" class="w-full">{{ "Reset password" | trans }}</rc-button>
      </div>
    </div>
  </form>
</div>
