<div class="flex flex-col items-center gap-8">
  <div class="space-y-2 text-center">
    <h1 class="text-xl font-medium" trans>Forgot password</h1>
    <p class="text-muted-foreground text-center text-sm" trans>Enter your email to receive a password reset link</p>
  </div>

  <form [formGroup]="forgotPasswordForm" class="flex flex-col gap-6 w-100" (ngSubmit)="onSubmit()">
    <div class="grid gap-6">
      <div class="grid gap-2">
        <rc-label>{{ "Email" | trans }}</rc-label>
        <rc-input tabindex="1" type="email" [placeholder]="'Email' | trans" formControlName="email"/>
      </div>
      <div class="flex items-center space-x-3 mt-4">
        <rc-button tabindex="3" class="w-full">
          <span trans>Email password reset link</span>
        </rc-button>
      </div>

      <div class="text-muted-foreground text-center text-sm">
        <span trans>Or, return to</span> &nbsp;
        <rc-text-link route="/login">{{ "Login" | trans }}</rc-text-link>
      </div>
    </div>
  </form>
</div>
